/* CSS 는 스타일링 뿐만 아니라 HTML 요소에 애니메이션 쉽게 제공 */

@keyframes animation_name {
    /* 시작 및 종료 스타일 포함 가능 */
    from {
        /* Some styling for the start */
    }

    to {
        /* Some styling for the end */
    }
}

/* or */

@keyframes animation_name {
    /* 기간 동안 다른 단계의 스타일 (0 ~ 100%) 포함 가능 */
    0% {
        /* Some styling for the start */
    }

    75% {
        /* Some styling after 3/4 of animation */
    }

    100% {
        /* Some styling for the end */
    }
}

@keyframes move {
    0% {
        left: 0%;
    }
    50% {
        left: 50%;
    }
    100% {
        left: 0%;
    }
}

@keyframes hide {
    0% {
        /* opacity = 불투명도 변화 */
        opacity: 1;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }
    75% {
        opacity: 0;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }
    100% {
        opacity: 0;
        height: 0px;
        line-height: 0px;
        padding: 0px;
        margin-bottom: 0px;
    }
}

.post {
    background-color: #77dd11;
    padding: 20px;
    margin-bottom: 10px;
    animation-name: hide;
    animation-duration: 2s;
    /* animation-fill-mode : 애니메이션 시작 전, 끝난 후의 스타일을 정의 */
    animation-fill-mode: forwards;
    animation-play-state: paused;
}